.success-scan {	
    height: 64px;
    width: 360px;
    border: 1px solid #44BC67;
    background-color: #44BC67;
}

.success-text {	
    height: 27px;
    width: 254px;
    color: #FFFFFF;
    font-family: "Open Sans Hebrew";
    font-size: 20px;	
    font-weight: bold;	
    line-height: 27px;	
    text-align: right;
}